main {
  margin: 0;
  padding-top: 10vh;
  background-color: wheat;
  width: 100%;
}
#category {
  /* background-color: #450303; */
  background-color: wheat;
  height: 100%;
  padding-bottom: 5vh;
  width: 100%;
}
.welcome {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  box-sizing: border-box;
  height: 25vh;
  background-color: wheat;
  /* margin-bottom: 5vh;
  margin-top: 5vh; */
}
.lewy,
.prawy {
  float: left;
  box-sizing: border-box;
  color: black;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: left;
}
.lewy h1 {
  font-family: 'Oswald', sans-serif !important;
  font-size: 50pt;
  margin: 0 auto;
}
.lewy {
  width: 40%;
}
.prawy {
  width: 40%;
}
.prawy h2 {
  width: 60%;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15pt;
  font-weight: 600;
}
.shop_cat {
  margin-bottom: 10vh;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 40vh;
  background-color: black;
  text-align: center;
}
.shop_cat h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 35pt;
  margin-top: 20px;
  margin-bottom: 30px;
}
.shop_cat p {
  margin-bottom: 30px;
}
/* Stylowanie obrazka produktu */
.product-image {
  width: 100%; /* Ustaw stałą szerokość */
  height: 350px; /* Ustaw stałą wysokość */
  overflow: hidden; /* Ukryj nadmiarową zawartość obrazka */
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.product-image img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  /* object-fit: contain; */
}

/* Stylowanie informacji o produkcie */
.product-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product {
  flex: 0 0 calc(20% - 20px); /* Ustaw szerokość produktu na 25% szerokości kontenera, minus margines */
  padding: 20px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  margin: 20px;
  border: 1px solid #ddd;
  text-align: left;
  float: left;
  background-color: black;
}
.slick-prev,
.slick-next {
  z-index: 100;
}
.slick-prev {
  left: -10px !important;
}
.slick-next {
  right: -10px !important;
}

.product hr {
  width: 15%;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 20px;
}
